

<!DOCTYPE html>
<html>
<head>
    
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ガラクタおきば | テンプレート</title>

  <link rel="stylesheet" href="../css/style.css">

  <meta name="robots" content="noindex,nofollow">
  <meta name="description" content="WEBサイトの汎用的部品の作成例をおいておく場所">

</head>

<body class="is-pagetop-fixed">
  <header class="header">
  <div class="header-action">
    <button class="header-btn js-menu-trigger" data-active-class="is-menu-active-side">
        <span class="humberger"><span></span></span>

        <span class="close"></span>

    </button>
    <ul class="header-link">
      <li><a href="" class="header-icon js-menu-trigger" data-active-class="is-menu-active-modal">
        <span class="humberger"><span></span></span>

      </a></li>
      <li><a href="" class="header-icon header-icon--down js-menu-trigger" data-active-class="is-menu-active-down">
        <span class="down-arrow"></span>

      </a></li>
    </ul>
  </div>
  <div class="drawer drawer--down">
  <div class="drawer__slide js-slide-wrapper">
    <div class="down-menu">
      menu
    </div>
  </div>
</div>

  <div class="modal">
  <div class="modal-card">
    <div class="menu-head">
      <p class="menu-head__heading">MENU</p>
      <div class="menu-head__close">
        <span class="close"></span>

      </div>
    </div>
  </div>
</div>

</header>

  <div class="drawer drawer--left">
  <div class="drawer__slide js-slide-wrapper">
    <div class="side-drawer">
      <ul>
        <li class="side-drawer-item">
          <a class="side-drawer-item__link" href="">
            <span class="side-drawer-item__icon"></span>
            <span class="side-drawer-item__text">item1</span>
          </a>
        </li>
        <li class="side-drawer-item">
          <a class="side-drawer-item__link" href="">
            <span class="side-drawer-item__icon"></span>
            <span class="side-drawer-item__text">item1</span>
          </a>
        </li>
        <li class="side-drawer-item">
          <a class="side-drawer-item__link" href="">
            <span class="side-drawer-item__icon"></span>
            <span class="side-drawer-item__text">item1</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

  <main>
    <div class="container">
      <div class="bread">
  <ul class="bread__list">
    <li><a href="../">ホーム</a></li>
    <li><span>テンプレート</span</li>
  </ul>
</div>

    </div>
    <div class="hero"></div>
    <div class="container">
        <div class="section-sepalator js-col-wrapper is-2-col">
  <div class="heading">
    <h2>section</h2>
  </div>
  <div class="column-change-trigger">
    <button class="column-change-btn js-col-trigger is-selected" data-col="2">
      <ul class="icon-tile">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

    </button>
    <button class="column-change-btn js-col-trigger" data-col="3">
      <ul class="icon-tile icon-tile--3-col">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

    </button>
  </div>
  <ul class="column-change-list">
    <li><a href=""><div class="square"><div class="square__body"></div></a></li>
    <li><a href=""><div class="square"><div class="square__body"></div></a></li>
    <li><a href=""><div class="square"><div class="square__body"></div></a></li>
    <li><a href=""><div class="square"><div class="square__body"></div></a></li>
    <li><a href=""><div class="square"><div class="square__body"></div></a></li>
    <li><a href=""><div class="square"><div class="square__body"></div></a></li>
    <li><a href=""><div class="square"><div class="square__body"></div></a></li>
    <li><a href=""><div class="square"><div class="square__body"></div></a></li>
  </ul>
</div>

        <div class="section-sepalator">
  <div class="heading">
    <h2>section</h2>
  </div>
  <div class="more js-more-wrapper is-more-close">
    <ul class="more__list">
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
    </ul>
    <div class="more__btn">
      <button class="js-more-trigger">
        <span class="more__open">OPEN</span>
        <span class="more__close">CLOSE</span>
      </button>
    </div>
  </div>
</div>

        <div class="section-sepalator">
  <div class="heading">
    <h2>section</h2>
  </div>
  <div class="slide-in">
    <ul>
      <li class="slide-in__content js-slide-in">content1</li>
      <li class="slide-in__content js-slide-in">content2</li>
      <li class="slide-in__content js-slide-in">content3</li>
      <li class="slide-in__content js-slide-in">content4</li>
    </ul>
  </div>
</div>

        <div class="section-sepalator js-tab-wrapper">
  <div class="heading">
    <h2>section</h2>
  </div>
  <ul class="tab-btn-list">
    <li><button class="tab-btn red-tab js-tab-trigger is-selected" data-tab-number="tab-1">tab1</button></li>
    <li><button class="tab-btn green-tab js-tab-trigger" data-tab-number="tab-2">tab2</button></li>
    <li><button class="tab-btn blue-tab js-tab-trigger" data-tab-number="tab-3">tab3</button></li>
  </ul>
  <ul class="tab-contents-list">
    <li class="js-tab-contents is-active" data-tab-number="tab-1">
      <div class="tab-card red-tab">
        <p>content1</p>
      </div>
    </li>
    <li class="js-tab-contents" data-tab-number="tab-2">
      <div class="tab-card green-tab">
        <p>content1</p>
      </div>
    </li>
    <li class="js-tab-contents" data-tab-number="tab-3">
      <div class="tab-card blue-tab">
        <p>content3</p>
      </div>
    </li>
  </ul>
</div>

    </div>
  </main>
  <footer class="footer js-pagetop-reference">
  <div class="container">
    <div class="pagetop">
        <a href="" class="pagetop__btn js-pagetop-trigger"></a>
    </div>

    <div class="footer-nav">
      <ul class="footer-nav__list">
        <li>
          <div class="footer-nav-card">footer-contents</div>
        </li>
        <li>
          <div class="footer-nav-card">footer-contents</div>
        </li>
        <li>
          <div class="footer-nav-card">footer-contents</div>
        </li>
        <li>
          <div class="footer-nav-card">footer-contents</div>
        </li>
        <li>
          <div class="footer-nav-card">footer-contents</div>
        </li>
        <li>
          <div class="footer-nav-card">footer-contents</div>
        </li>
      </ul>
    </div>
    <div class="footer-link">
      <div class="footer-link__group footer-link__group--left">
        <a href="">link</a>
        <a href="">link</a>
        <a href="">link</a>
      </div>
      <div class="footer-link__group footer-link__group--right">
        <a href="">link</a>
        <a href="">link</a>
      </div>
    </div>
  </div>
</footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../js/script.js"></script>

</body>

</html>
