.slide-in {
  background-color: #ccc;
  padding: 16px;
  &__content {
    min-height: 100px;
    padding: 8px 16px;
    margin-bottom: 16px;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: 1s;
    &:last-child {
      margin-bottom: 0;
    }
    &.is-active {
      transform: translate(0);
      opacity: 1;
    }
  }
}
