<!DOCTYPE html>
<html>
<% include /ejs/components/_head %>
<body>
  <% include /ejs/components/_header %>
  <main>
    <div class="hero"></div>
    <div class="container">
        <% include /ejs/page/template/include/_column-change %>
        <% include /ejs/page/template/include/_tab %>
    </div>
  </main>
  <% include /ejs/components/_footer %>
  <% include /ejs/components/_body-bottom %>
</body>

</html>
