<!DOCTYPE html>
<html>
<% include /ejs/components/_head %>
<body>
  <% include /ejs/components/_header %>
  <main>
    <div class="hero"></div>
    <div class="container">
      container

    </div>
  </main>
  <% include /ejs/components/_footer %>
</body>

</html>
