<%
var title = 'ガラクタおきば | テンプレート';
var description = 'WEBサイトの汎用的部品の作成例をおいておく場所';
var root = '../';
%>

<!DOCTYPE html>
<html>
<head>
    <% include /ejs/components/_meta %>
</head>

<body class="is-pagetop-fixed">
  <% include /ejs/components/_header %>
  <main>
    <div class="container">
        <% include /ejs/page/template/include/_bread %>
    </div>
    <div class="container">
        <% include /ejs/page/template/include/_column-change %>
        <% include /ejs/page/template/include/_more-contents %>
        <% include /ejs/page/template/include/_slide-in %>
        <% include /ejs/page/template/include/_tab %>
    </div>
  </main>
  <% include /ejs/components/_side-menu %>
  <% include /ejs/components/_down-menu %>
  <% include /ejs/components/_modal-menu %>
  <% include /ejs/components/_footer %>
  <% include /ejs/components/_body-bottom %>
</body>

</html>
