<article class="profile">
  <div class="profile__flex">
    <p><a href="" class="profile__img"><img src="<%= root %>img/mochimochimoon.png" alt="mochimochimoon"></a></p>
    <h2><a href="" class="profile__name">mochimochimoon</a></h2>
    <p><a href="https://github.com/mochimochimoon/my-work" class="profile__repository">リポジトリ</a></p>
  </div>
</article>
