<div class="tab-wrapper js-tab-wrapper">
  <ul class="tab-trigger">
    <li class="js-tab-trigger" data-tab-number="tab-1">tab1</li>
    <li class="js-tab-trigger" data-tab-number="tab-2">tab2</li>
    <li class="js-tab-trigger" data-tab-number="tab-3">tab3</li>
  </ul>
  <ul class="tab-contents">
    <li class="js-tab-contents" data-tab-number="tab-1">contents1</li>
    <li class="js-tab-contents is-hidden" data-tab-number="tab-2">contents2</li>
    <li class="js-tab-contents is-hidden" data-tab-number="tab-3">contents3</li>
  </ul>
</div>
