.bread {
  padding: 8px 0;
  border-bottom: 1px solid $border-color;
  margin-bottom: 16px;
  &__list {
    display: flex;
    > li {
      display: flex;
      font-size: 11px;
      >a,span {
        display: block;
      }
      >a {
        &:hover {
          text-decoration: underline;
        }
      }
      &:after {
        content: '>';
        margin: 0 0.5em;
      }
      &:last-child:after {
        display: none;
      }
    }
  }
}
