.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  @include pc () {
    text-align: left;
  }
  &__title {
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
    color: #666;
  }
}
