.column-change-trigger {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.column-change-btn {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  &:last-child {
    margin-right: 0;
  }
}

.column-change-list {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
  > li {
    box-sizing: border-box;
    flex: 0 1 auto;
    padding: 8px;
    transition: .5s;
    .is-2-col &{
      flex-basis: 25%;
    }
    .is-3-col &{
      flex-basis: 100 / 6 * 1%;
    }
    >a {
      display: block;
    }
  }
}
.square {
  position: relative;
  width: 100%;
  &:before {
    content:"";
    display: block;
    padding-top: 100%; /* 高さを幅の75%に固定 */
  }
  &__body {
    background-color:#aca;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4%;
  }
}
