.drawer {
  position: relative;
  z-index: 10;
  pointer-events: none;
  overflow: hidden;
  &__slide {
    pointer-events: all;
  }
  //modifier
  &--left {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    > .drawer__slide {
      overflow-y: scroll;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      transition: .2s;
      @include pc () {
        width: 320px;
      }
      .is-menu-active-side &{
        transform: translateX(0);
      }
    }
  }
  &--down {
    position: absolute;
    width: 100%;
    > .drawer__slide {
      transition: .2s;
      transform: translateY(-100%);
      .is-menu-active-down &{
        transform: translateY(0);
      }
    }
  }
}
