.heading {
  text-align: center;
  >* {
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    padding: 0 16px 8px;
    border-bottom: $border-color 1px solid;
    margin-bottom: 16px;
  }
}
