.modal {
  position: fixed;
  top: 56px;
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 56px);
  padding: 16px;
  pointer-events: none;
  opacity: 0;
  transition: .2s;
  .is-menu-active-modal & {
    pointer-events: all;
    opacity: 1;
  }
}

.modal-card {
  background-color: $bg-color;
  box-shadow: 0 0 16px 0 rgba(#000, .2);
  max-width: 640px;
  height: 100%;
  margin: 0 auto;
}

.menu-head {
  padding: 8px 16px;
  border-bottom: #aaa solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__heading {
    font-size: 16px;
    line-height: 1;
  }
  &__close {
    width: 20px;
    height: 20px;
  }
}
