.tab-btn-list {
  display: flex;
  >li {
    background-color: gray;
    flex-grow: 1;
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.tab-btn {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 8px 16px;
  color: #fff;
  cursor: pointer;
}
.tab-contents-list {
  > li {
    display: none;
    &.is-active {
      display: block;
    }
  }
}
.tab-card {
  background-color: #eee;
  padding: 16px;
  >p {
    padding: 8px 16px;
    min-height: 200px;
    background-color: rgba(#fff, .9);
    border-radius: 4px;
  }
}
.red-tab {
  background-color: #cbb;
}
.green-tab {
  background-color: #bcb;
}
.blue-tab {
  background-color: #bbc;
}
