<header>
  <div class="header-action">
    <button class="header-btn">
      <div class="humberger"><div></div></div>
    </button>
    <ul class="header-link">
      <li><a href="" class="header-icon"><span><img src="http://placehold.jp/24x24.png"></span></a></li>
      <li><a href="" class="header-icon"><span><img src="http://placehold.jp/24x24.png"></span></a></li>
      <li><a href="" class="header-icon"><span><img src="http://placehold.jp/24x24.png"></span></a></li>
    </ul>
  </div>
</header>
