<div class="drawer drawer--left">
  <div class="drawer__slide">
    <div class="side-drawer js-slide-wrapper">
      <ul>
        <li class="side-drawer-item">
          <a class="side-drawer-item__link" href="">
            <span class="side-drawer-item__icon"></span>
            <span class="side-drawer-item__text">item1</span>
          </a>
        </li>
        <li class="side-drawer-item">
          <a class="side-drawer-item__link" href="">
            <span class="side-drawer-item__icon"></span>
            <span class="side-drawer-item__text">item1</span>
          </a>
        </li>
        <li class="side-drawer-item">
          <a class="side-drawer-item__link" href="">
            <span class="side-drawer-item__icon"></span>
            <span class="side-drawer-item__text">item1</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
