.profile {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: $border-color 1px solid;
  margin-bottom: 40px;
  &__img {
    display: block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    overflow: hidden;
    > img{
      width: 100%;
    }
  }
  &__name {
    display: block;
    font-size: 20px;
  }
  &__repository {
    display: block;
    padding: 8px 16px;
    margin-left: auto;
    background-color: #99f;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    &:after {
      content: ">";
      margin-left: 0.5em;
    }
  }
}
