.tab-btn-list {
  display: flex;
  >li {
    flex-grow: 1;
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.tab-btn {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 5px 5px 0 0;
  color: $font-color-light;
  cursor: pointer;
  background-color: $theme-color-2;
  &.is-selected {
    background-color: $theme-color-1;
  }
}
.tab-card {
  background-color: $theme-color-1;
  padding: 16px;
  >p {
    padding: 8px 16px;
    min-height: 200px;
    border-radius: 4px;
    background-color: #fff;
    .is-active & {
      animation: fade-in-open 1s;
    }
  }
}
