body {
  background-color: #fff;
  &.is-no-scroll {
    height: 100%;
    overflow-y: hidden; //iOSだと効かない？
  }
}

main {
  padding: 56px 0 68px;
  transition: .2s;
  .is-no-scroll &{
    filter: brightness(70%);
  }
}

.section-sepalator {
  margin-bottom: 120px;
  &:last-child {
    margin-bottom: 0;
  }
}
