<div class="column-change-group">
  <div class="column-change-trigger">
    <button class="column-change-btn">
      <ul class="column-change-btn__icon">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </button>
    <button class="column-change-btn is-selected">
      <ul class="column-change-btn__icon column-change-btn__icon--3-col">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </button>
  </div>
  <ul class="column-change-list">
    <li><a href=""><div class="square"><div class="square__body">box</div></a></li>
    <li><a href=""><div class="square"><div class="square__body">box</div></a></li>
    <li><a href=""><div class="square"><div class="square__body">box</div></a></li>
    <li><a href=""><div class="square"><div class="square__body">box</div></a></li>
    <li><a href=""><div class="square"><div class="square__body">box</div></a></li>
    <li><a href=""><div class="square"><div class="square__body">box</div></a></li>
  </ul>
</div>
