<div class="section-sepalator">
  <div class="more js-more-wrapper">
    <ul class="more__list">
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
      <li><a href=""><div class="square"><div class="square__body"></div></a></li>
    </ul>
    <div class="more__btn">
      <button class="js-more-trigger">
        <span class="more__open">OPEN</span>
        <span class="more__close">CLOSE</span>
      </button>
    </div>
  </div>
</div>
