<article class="section-sepalator">
  <div class="heading">
    <h3>スクロールでスライドイン</h3>
  </div>
  <div class="slide-in">
    <ul>
      <li class="slide-in__content js-slide-in">content1</li>
      <li class="slide-in__content js-slide-in">content2</li>
      <li class="slide-in__content js-slide-in">content3</li>
      <li class="slide-in__content js-slide-in">content4</li>
    </ul>
  </div>
</article>
