<div class="tab-section">
  <ul class="tab-btn-list">
    <li data-tab-number="tab-1"><button class="tab-btn">tab1</button></li>
    <li data-tab-number="tab-2"><button class="tab-btn">tab2</button></li>
    <li data-tab-number="tab-3"><button class="tab-btn">tab3</button></li>
  </ul>
  <ul class="tab-contents-list">
    <li class="js-tab-contents" data-tab-number="tab-1">
      <div class="tab-card">
          content1
      </div>
    </li>
    <li class="js-tab-contents is-hidden" data-tab-number="tab-1">
      <div class="tab-card">
          content2
      </div>
    </li>
    <li class="js-tab-contents is-hidden" data-tab-number="tab-1">
      <div class="tab-card">
          content3
      </div>
    </li>
  </ul>
</div>
