<footer class="footer js-pagetop-reference">
  <div class="container">
    <div class="pagetop">
        <a href="" class="pagetop__btn js-pagetop-trigger"></a>
    </div>

    <div class="footer-nav">
      <ul class="footer-nav__list">
        <li>
          <div class="footer-nav-card">footer-contents</div>
        </li>
        <li>
          <div class="footer-nav-card">footer-contents</div>
        </li>
        <li>
          <div class="footer-nav-card">footer-contents</div>
        </li>
        <li>
          <div class="footer-nav-card">footer-contents</div>
        </li>
        <li>
          <div class="footer-nav-card">footer-contents</div>
        </li>
        <li>
          <div class="footer-nav-card">footer-contents</div>
        </li>
      </ul>
    </div>
    <div class="footer-link">
      <div class="footer-link__group footer-link__group--left">
        <a href="">link</a>
        <a href="">link</a>
        <a href="">link</a>
      </div>
      <div class="footer-link__group footer-link__group--right">
        <a href="">link</a>
        <a href="">link</a>
      </div>
    </div>
  </div>
</footer>
