<div class="modal">
  <div class="modal-card">
    <div class="menu-head">
      <p class="menu-head__heading">MENU</p>
      <div class="menu-head__close">
        <% include /ejs/_icon/_close %>
      </div>
    </div>
  </div>
</div>
