<div class="modal">
  <div class="code">
    <ul class="code__tab-list">
      <li id="section1-tab1" role="tab" aria-selected="true" aria-controls="section1-tab1">tab1</li>
      <li id="section1-tab2" role="tab" aria-selected="true" aria-controls="section1-tab2">tab2</li>
    </ul>
    <div class="code__tab-content">
      <section class="code__card" id="section1-tab1" aria-labelledby="section1-tab1" role="tabpanel">
        <h2>code</h2>
        <p>sssssssssssssssssssss</p>
      </section>
      <section class="code__card" id="section1-tab1" aria-labelledby="section1-tab2" role="tabpanel">
        <h2>code</h2>
        <p>sssssssssssssssssssss</p>
      </section>
    </div>
  </div>
</div>
