<div class="drawer drawer--header drawer--left">
  <div class="drawer__slide js-slide-wrapper">
    <nav class="side-menu">
      <p class="side-leave">
        <a class="right-arrow-end right-arrow-end--white" href="">
          <span class="side-leave_icon">
            <img src="<%= root %>img/mochimochimoon.png" alt="mochimochimoon">
          </span>
          <span class="side-leave__text">my-workにもどる</span>
        </a>
      </p>
      <dl>
        <dt>
          <a class="side-item side-item--head" href="">
            <span class="right-arrow-end right-arrow-end--white">ガラクタおきば</span>
          </a>
        </dt>
        <dd>
          <a class="side-item" href="">
            <span class="right-arrow-end">動きテンプレ</span>
          </a>
        </dd>
        <dd>
          <a class="side-item" href="">
            <span class="right-arrow-end">アイコン</span>
          </a>
        </dd>
      </dl>
    </nav>
  </div>
</div>
