<div class="profile">
  <a href="" class="profile__img"><img src="<%= root %>img/mochimochimoon.png" alt="mochimochimoon"></a>
  <a href="" class="profile__name">mochimochimoon</a>
  <a href="https://github.com/mochimochimoon/my-work" class="profile__repository">リポジトリ</a>
</div>
