body {
  font-family: 'Roboto', 'Noto Sans Japanese', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;;
  color: $font-color;
  background-color: $theme-color-white;
  &.is-no-scroll {
    height: 100%;
    overflow-y: hidden; //iOSだと効かない？
  }
}

main {
  padding: 56px 0 68px;
  transition: .2s;
  .is-no-scroll &{
    filter: brightness(70%);
  }
}

.section-sepalator {
  padding-bottom: 40px;
  border-bottom: $border-color solid 1px;
  margin-bottom: 80px;
  &:last-child {
    padding-bottom: 0;
    border: 0 none;
    margin: 0;
  }
}
