body {
  background-color: #fff;
  &.is-no-scroll {
    height: 100%;
    overflow-y: hidden; //iOSだと効かない？
  }
}

main {
  padding: 56px 0 68px;
  transition: .2s;
  .is-no-scroll &{
    filter: brightness(70%);
  }
}

.section-sepalator {
  padding-bottom: 40px;
  border-bottom: $border-color solid 1px;
  margin-bottom: 80px;
  &:last-child {
    padding-bottom: 0;
    margin: 0;
  }
}
