<article class="section-sepalator js-col-wrapper is-2-col">
  <div class="heading">
    <h3>カラム数切り替え</h3>
  </div>
  <div class="column-change-trigger">
    <button class="column-change-btn js-col-trigger is-selected" data-col="2">
      <% include /ejs/_icon/_tile-2 %>
    </button>
    <button class="column-change-btn js-col-trigger" data-col="3">
      <% include /ejs/_icon/_tile-3 %>
    </button>
  </div>
  <ul class="column-change-list">
    <li><a href=""><div class="square"><div class="square__body"></div></a></li>
    <li><a href=""><div class="square"><div class="square__body"></div></a></li>
    <li><a href=""><div class="square"><div class="square__body"></div></a></li>
    <li><a href=""><div class="square"><div class="square__body"></div></a></li>
    <li><a href=""><div class="square"><div class="square__body"></div></a></li>
    <li><a href=""><div class="square"><div class="square__body"></div></a></li>
    <li><a href=""><div class="square"><div class="square__body"></div></a></li>
    <li><a href=""><div class="square"><div class="square__body"></div></a></li>
  </ul>
</article>
