<%
const data = {
  "japanese": "カラム切り替え",
  "name": "section1",
  "codes": [
    {
      "type": "html",
      "txt": `
<div class="js-col-wrapper is-2-col">
  <div>
    <button class="column-change-btn js-col-trigger is-selected" data-col="2">button</button>
    <button class="column-change-btn js-col-trigger" data-col="3">button</button>
  </div>
  <ul class="column-change-list">
    <li>content</li>
    <li>content</li>
    <li>content</li>
    <li>content</li>
    <li>content</li>
    <li>content</li>
  </ul>
</div>
        `
    },
    {
      "type": "sass",
      "txt": "コード"
    }
  ]
}
-%>
<article class="section-sepalator js-modal-wrapper">
  <div class="heading">
    <h2 class="heading__title">もっと見る</h2>
    <div class="code-open"><button class="js-modal-trigger">code<span><% include /ejs/_icon/_report %></span></button></div>
  </div>
  <section class="sample">
      <div class="sample__head"><h2>SAMPLE</h2></div>
      <div class="more js-more-wrapper is-more-close">
        <ul class="more__list">
          <li><a href=""><div class="square"><div class="square__body"></div></a></li>
          <li><a href=""><div class="square"><div class="square__body"></div></a></li>
          <li><a href=""><div class="square"><div class="square__body"></div></a></li>
          <li><a href=""><div class="square"><div class="square__body"></div></a></li>
          <li><a href=""><div class="square"><div class="square__body"></div></a></li>
          <li><a href=""><div class="square"><div class="square__body"></div></a></li>
          <li><a href=""><div class="square"><div class="square__body"></div></a></li>
          <li><a href=""><div class="square"><div class="square__body"></div></a></li>
          <li><a href=""><div class="square"><div class="square__body"></div></a></li>
          <li><a href=""><div class="square"><div class="square__body"></div></a></li>
          <li><a href=""><div class="square"><div class="square__body"></div></a></li>
          <li><a href=""><div class="square"><div class="square__body"></div></a></li>
          <li><a href=""><div class="square"><div class="square__body"></div></a></li>
          <li><a href=""><div class="square"><div class="square__body"></div></a></li>
          <li><a href=""><div class="square"><div class="square__body"></div></a></li>
          <li><a href=""><div class="square"><div class="square__body"></div></a></li>
          <li><a href=""><div class="square"><div class="square__body"></div></a></li>
          <li><a href=""><div class="square"><div class="square__body"></div></a></li>
        </ul>
        <div class="more__btn">
          <button class="js-more-trigger">
            <span class="more__open">OPEN</span>
            <span class="more__close">CLOSE</span>
          </button>
        </div>
      </div>
  </section>
<%- include('/ejs/_components/_modal-code', {data: data}) %>
</article>
