.top-nav {
  background-color: $theme-color-1;
  padding: 16px;
  border-radius: 5px;
  &__list {
    > li {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__link {
    display: block;
    padding: 8px 16px;
    background-color: $theme-color-white;
    > span {
      display: block;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
