<!DOCTYPE html>
<html>
<% include /ejs/components/_head %>
<body>
  <% include /ejs/components/_header %>
  <main>
    <div class="hero"></div>
    <div class="container"></div>
  </main>
  <footer></footer>
</body>

</html>
