<%
var title = 'マイ倉庫';
var description = '個人的に詰め込んでおく';
var root = '';
%>

<!DOCTYPE html>
<html>
<% include /ejs/components/_meta-head %>
<body class="is-pagetop-fixed">
  <% include /ejs/components/_header %>
  <% include /ejs/components/_side-menu %>
  <main>
    <% include /ejs/page/top-include/_site-title %>
    <div class="container">
      <% include /ejs/page/top-include/_profile %>
      <% include /ejs/page/top-include/_link %>
    </div>
  </main>
  <% include /ejs/components/_footer %>
  <% include /ejs/components/_body-bottom %>
</body>

</html>
