<%
var title = 'ガラクタおきば';
var description = '個人的にいろんなものをおいておく場所';
var root = '';
%>

<!DOCTYPE html>
<html>
<head>
  <% include /ejs/components/_meta %>
  <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet" />
</head>

<body class="is-pagetop-fixed">
  <% include /ejs/components/_header %>

  <main>
    <% include /ejs/page/_include/_site-title %>
    <div class="container">
      <% include /ejs/page/_include/_profile %>
      <% include /ejs/page/_include/_top-nav %>
    </div>
  </main>
  <% include /ejs/components/_menu-group %>
  <% include /ejs/components/_footer %>
  <% include /ejs/components/_body-bottom %>
</body>

</html>
