<%
var title = 'マイ倉庫 | テンプレート';
var description = '個人的に詰め込んでおく';
var root = '../';
%>

<!DOCTYPE html>
<html>
<% include /ejs/components/_meta-head %>
<body>
  <% include /ejs/components/_header %>
  <main>
    <div class="hero"></div>
    <div class="container">
      <div class="link">
        <a href="<%= root %>template/">template</a>
      </div>

    </div>
  </main>
  <footer></footer>
</body>

</html>
