.report {
  display: block;
  box-sizing: border-box;
  width: 75%;
  margin: 0 auto;
  height: 100%;
  padding: 2px;
  border: 1px solid $icon-color-light;
  &:before,
  &:after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    border: 1px $icon-color-light;
    border-style: solid none;
  }
  &:before {
    margin-bottom: 3px;
  }
}
